extends layout

block content
  - var mockapi= location + '/mockapi'
  -
    var getMap = [
      {
        title:'/people',
        items:[
          {
            explain:'Mosk生成的5000条人物数据',
            example:'/people'
          },
          {
            explain:'获得指定id的人物数据',
            example:'/people/1'
          },
          {
            explain:'获得指定id的人物数据',
            example:'/people?id=1'
          }
        ]  
      },
      {
        title:'/image',
        items:[
          {
            explain:'Mosk生成的5000张多尺寸图片URL',
            example:'/image'
          },
          {
            explain:'获得指定id的图片URL',
            example:'/image/1'
          },
          {
            explain:'获得指定id的图片URL',
            example:'/image?id=1'
          }
        ]
      },
      {
        title:'/basicData',
        items:[
          {
            explain:'Mosk生成的500条各种基础类型数据',
            example:'/basicData'
          },
          {
            explain:'获得指定id的数据',
            example:'/basicData/1'
          },
          {
            explain:'获得指定id的数据',
            example:'/basicData?id=1'
          }
        ]
      },
      {
        title:'/complexData',
        items:[
          {
            explain:'Mosk生成的复杂数据',
            example:'/complexData'
          }
        ]
      },
    ]
  div.head
    h1.title Mock Server
    p.subtitle 一个基于Koa2搭建的一个虚拟数据Server，虽然Mockjs能直接拦截Ajax，但是那样做的话，数据并不会经过Network，感觉不能很好的模拟GET&POST请求。
  hr
  div.content
    h1.title GET
    each get in getMap
      p.subtitle
        b GET&nbsp;&nbsp;
        =get.title
        table.item
          each item in get.items       
            tr
              td
                a(href='/mockapi'+item.example)= item.example  
              td
                span= item.explain

  //- p.explain 根据传入的参数生成一张图片
  //- p.url
  //-   b POST&nbsp;&nbsp;
  //-   | /customImage